.container {
  padding: 0 1rem;
}

.title {
  text-align: center;
}

.plans {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 12px;
}

.card {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-shadow: 5px 10px #8888881c;
  width: 320px;
  padding: 12px;
  text-align: center;
  margin: 12px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  padding: 12px 60px;
  background-color: #2862b2;
  border: none;
  border-radius: 6px;
  color: white;
}

@media screen and (max-width: 350px) {
  .card {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .plans {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .plans {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .plans {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}